.composition {
  position: relative;

  &__photo {
    position: absolute;
    width: 55%;
    border-radius: 2px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    outline-offset: 2rem;
    transition: all 0.2s;

    &:hover {
      outline: 1.5rem solid $color-primary;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      z-index: 10;
    }

    &--one {
      top: -2rem;
      left: 0;
    }

    &--two {
      top: 2rem;
      right: 0;
    }

    &--three {
      top: 10rem;
      left: 20%;
    }

  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}