.section-about {
  margin-top: -20vh;
  padding: 35rem 0 25rem;
  background-color: $color-grey-light-one;

  @include respond(tab-port) {
    padding: 30rem 0;
  }
}

.section-features {
  margin-top: -10rem;
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;

  transform: skewY(-7deg);

  & > * {
    transform: skewY(7deg);
  }

  @include respond(tab-port) {
    padding: 15rem 0;
  }
}

.section-tours {
  margin-top: -10rem;
  padding: 35rem 0 15rem;
  background-color: $color-grey-light-one;

  @include respond(tab-port) {
    padding: 20rem 0 10rem;
  }
}

.section-stories {
  position: relative;
  padding: 10rem 0;

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
}
